<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwf.shop.product.mapper.BrandMapper">

    <cache type="com.bwf.shop.product.redis.RedisCache"/>

    <select id="getBrandById" resultType="com.bwf.shop.product.bean.po.Brand">
        select * from `brand` where brand_id = #{brand_id}
    </select>

    <select id="getBrandListByCategoryId" resultType="com.bwf.shop.product.bean.po.Brand">
        select a.*
        from `brand` a
            inner join `brand_categories` b on a.brand_id = b.brand_id
        where
            b.category_id = #{cate_id}
        order by a.sortno,a.brand_id
    </select>

</mapper>