<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwf.shop.product.mapper.CategoryMapper">

    <cache type="com.bwf.shop.product.redis.RedisCache"/>

    <select id="getCategoryListByPid" resultMap="Category">
        select *
            from `category`
            where
                <choose>
                    <when test="pid == null">
                        cate_parentid is null
                    </when>
                    <otherwise>
                        cate_parentid = #{pid}
                    </otherwise>
                </choose>
        order by cate_sort,cate_id
    </select>

    <select id="getCategoryById" resultType="com.bwf.shop.product.bean.po.Category">
        select * from `category` where cate_id = #{cate_id}
    </select>

    <select id="getCategoryListBySpuId" resultType="com.bwf.shop.product.bean.po.Category">
        select a.*
        from `category` a
            inner join `cate_spu` b on a.cate_id = b.cate_id
        where
            b.spu_id = #{spu_id}
        order by a.cate_sort,a.cate_id
    </select>

    <select id="getCategoryListBySpuList" resultType="com.bwf.shop.product.bean.po.Category">
        select distinct a.*
        from
            `category` a
            inner join `cate_spu` b on a.cate_id = b.cate_id
        <where>
            <if test="spuList != null and spuList.size > 0">
                b.spu_id in
                <foreach collection="spuList" item="spu" open="(-1," close=")" separator=",">
                    #{spu.spu_id}
                </foreach>
            </if>
        </where>
    </select>

    <resultMap id="Category" type="com.bwf.shop.product.bean.po.Category">
        <id column="cate_id" property="cate_id"/>
        <result column="cate_name" property="cate_name"/>
        <result column="cate_sort" property="cate_sort"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="cate_channel" property="cate_channel"/>
        <result column="cate_parentid" property="cate_parentid"/>
        <collection
                property="children" ofType="com.bwf.shop.product.bean.po.Category"
                column="cate_id" select="getCategoryListByPid"/>
    </resultMap>

</mapper>