<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwf.shop.product.mapper.CategoryMapper">

    <select id="getCategoryListByPid" resultType="com.bwf.shop.product.bean.po.Category">
        select *
            from `category`
            where
                <choose>
                    <when test="pid == null">
                        cate_parentid is null
                    </when>
                    <otherwise>
                        cate_parentid = #{parent_id}
                    </otherwise>
                </choose>
    </select>

    <select id="getCategoryById" resultType="com.bwf.shop.product.bean.po.Category">
        select * from `category` where cate_id = #{cate_id}
    </select>

</mapper>